* {
    margin: 0%;
    padding: 0%;
}


body {
    background-image: url(https://cdn.pixabay.com/photo/2023/06/08/08/27/plant-8049076_1280.jpg);
    max-width: 100%;
    min-width: 32px;
    min-height: 50px;
    max-height: 100px;
    background-size: cover;
}


.main {
    max-width: 230px;
    min-width: 150px;
    background-color: black;
    margin: 0% auto;
    margin-top: 5%;
    margin-bottom: 1%;
    padding: 1%;
    border-radius: 5%;
    max-height: 1500px;
    min-height: 444px;

}



.welcome {
    background-color: #fff;
    color: black;
    border-radius: 12%;
    max-width: 250px;
    min-width: 1px;
    max-height: 40px;
    min-height: 1px;
    border: 1px solid black;
    margin: 1%;
    padding: 2%;
    text-align: center;
    
}


.welcome p {
    margin-top: 3%;
    
    font-family: sans-serif;
    font-weight: 550;
    font-size: larger;


}


.display {
    color: white;
    display: inline;

}


input {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    font-size: 40px;
    float: right;
    background-color: black;
    width: 200px;
    float: right;
    border-style: none;
    text-align: right;
    display: block;
    margin-right: 10%;
    color: #fff;
}


.buttons {
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    margin-top: 20%;
}


.row {
    padding: 2%;
    margin-left: 0%;
    margin-right: 0%;
    display: block;

}


.item-light {
    display: inline-block;
    color: black;
    background-color: rgb(154, 154, 154);
    padding: 5%;
    border-radius: 70%;
    font-size: large;
}


.item {
    display: inline-block;
    color: white;
    background-color: rgb(47, 47, 47);
    padding: 6%;
    border-radius: 65%;
    font-size: x-large;
}


.item-orange {
    color: white;
    background-color: rgb(238, 148, 8);
    display: inline-block;
    padding: 6%;
    border-radius: 65%;
    font-size: x-large;
}